<div class="header">
    <div class="logo-title-wrap">
        <div class="logo-container">
          <a href="https://aecinspire.com/" target="_blank"><div class="logo"></div></a>
        </div>
        <div class="title">{{pageTitle}}</div>
    </div>    
    <div class="user-action">
          <button mat-icon-button [matMenuTriggerFor]="help">
            <mat-icon>help_outline</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="account">
            <mat-icon>person</mat-icon>
          </button>
    </div>
    <mat-menu #help="matMenu">
      <button mat-menu-item class="menu-icon download-manual">
        <a href="assets/User Manual.pdf" download="User Manual.pdf"><span class="material-icons">picture_as_pdf</span>
        Help Manual</a></button>
      <button mat-menu-item class="menu-icon" (click)="contactUs()">
        <span class="material-icons">call</span>
        Contact Us</button>
    </mat-menu>
    <mat-menu #account="matMenu">
      <button mat-menu-item class="menu-icon" (click)="profile()">
        <span class="material-icons">settings</span>
        Profile</button>
      <button mat-menu-item (click)="closeTab()" class="menu-icon">
        <span class="material-icons">power_settings_new</span>
        Sign Out</button>
    </mat-menu>
</div>
