.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  background-color: var(--header-color);

  .logo-title-wrap {
    display: flex;
    align-items: center;

    .logo-container {
      display: inline-block;
      padding: 5px 8px;
      background-color: var(--header-logo-bg);
      border-radius: 4px;

      .logo {
        background: url("../../../../assets/images/sanveo-logo.png") no-repeat;
        width: 88px;
        height: 27px;
      }
    }

    .title {
      padding-left: 13px;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--header-font-color);
    }
  }

  .user-action {
    background: var(--header-logo-bg);
    border-radius: 4px;
    margin-right: 22px;
    padding: 0 14px;
    color: var(--header-icon-color);
  }
}
.menu-icon{
  span{
    vertical-align: middle;
  }
  .material-icons{
    color: var(--primary-color);
  }
}

.download-manual{
  a{
    color: var(--color-text-4);
    text-decoration: none;
    padding: 15px 0px;
  }
}