<div class="header">
    <div class="logo-title-wrap">
        <div class="logo-container">
            <div class="logo"></div>
        </div>
        <div class="title">{{pageTitle}}</div>
    </div>    
    <div class="user-action">
          <button mat-icon-button [matMenuTriggerFor]="help">
            <mat-icon>help_outline</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="account">
            <mat-icon>person</mat-icon>
          </button>
    </div>
    <mat-menu #help="matMenu">
      <button mat-menu-item>Download</button>
    </mat-menu>
    <mat-menu #account="matMenu">
      <button mat-menu-item (click)="closeTab()">logout</button>
    </mat-menu>
</div>
