.list-wrap {
  width: 184px;
  background-color: var(--bg-color-1);
  position: relative;
}

.search-category {
  padding: 10px;
  position: relative;
  color: #979797;
  height: 46px;
  box-sizing: border-box;

  input {
    width: 138px;
  }

  .search {
    position: absolute;
    right: 8px;
    top: 12px;
    font-size: 20px;
  }
}

.category-lists {
  height: calc(100vh - 226px);
  overflow: hidden auto;
  background-color: var(--bg-color-3);

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #232323;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--bg-color-2);
  }
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  border: 1px solid var(--border-color);
  border-left: none;
  color: var(--color-text-1);
  height: 44px;
  font-size: 12px;
}

.mat-list-base {
  padding: 0;
}

mat-list-option[aria-selected="true"],
mat-list-option:hover {
  background: var(--bg-color-1);
}

.create-btn-wrapper {
  background: var(--bg-color-4);
  border: 1px solid var(--border-color);
  padding: 10px 10px;
  .secondary-btn{
    button{
      background: transparent !important;
      border: 1px solid var(--primary-color) !important;
      color: var(--primary-color) !important;
      border-radius: 20px;
      height: 30px;
    }
  
  }
  .create-template {
    margin-bottom: 8px;
  }
  button {
    font-size: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 25px;
    width: 160px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1099px) {
  .search-category {
    padding: 38px 10px;
    .search {
      top: 39px;
    }
  }
  .category-lists {
    height: calc(100vh - 256px);
  }
  .list-wrap {
    width: 125px;
  }
  .category-lists {
    ::ng-deep
      .mat-list-base
      .mat-list-item.mat-list-item-with-avatar
      .mat-list-item-content
      .mat-list-text,
    .mat-list-base
      .mat-list-item.mat-list-option
      .mat-list-item-content
      .mat-list-text,
    .mat-list-base
      .mat-list-option.mat-list-item-with-avatar
      .mat-list-item-content
      .mat-list-text,
    .mat-list-base
      .mat-list-option.mat-list-option
      .mat-list-item-content
      .mat-list-text {
      padding-left: 6px !important;
    }
    ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
    .mat-list-base .mat-list-option .mat-list-item-content {
      padding: 0 6px !important;
    }
  }
  .create-btn-wrapper button{
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 992px) {
  .list-wrap {
    width: 100px;
  }
  .create-btn-wrapper button{
    width: 80px;
  }
}
