.list-wrap {
    width: 184px;
    background-color: #151515;
    position: relative;
  }
  
  
  .search-category {
    padding: 10px;
    position: relative;
    color: #979797;
    height: 46px;
    box-sizing: border-box;
  
    input {
      width: 138px;
    }
  
    .search {
      position: absolute;
      right: 8px;
      top: 12px;
      font-size: 20px;
    }
  }
  
  .category-lists{
    height: calc( 100vh - 220px);
    overflow: hidden auto;
    background-color: #242424;
  
    &::-webkit-scrollbar {
      width: 10px;
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px #232323;
    }
     
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #4f4f4f;
    }
  }
  
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    border: 1px solid #4a4a4a;
    color: #b5b5b5;
    height: 44px;
    font-size: 12px;
  }
  
  .mat-list-base {
    padding: 0;
  }
  
  mat-list-option[aria-selected="true"],
  mat-list-option:hover {
    background: #151515;
  }
  
  .create-btn-wrapper{
    background: #1f1f1f;
    border: 1px solid #4a4a4a;
    padding: 10px 10px;
    .create-template{
      margin-bottom: 8px;
    }
    button{
      font-size: 10px;
      height: 30px;
      line-height: 30px;
      border-radius: 25px;
      width: 160px;
      text-transform: uppercase;
    }
  } 

