<h2 mat-dialog-title>Select System and Connection type</h2>
<mat-dialog-actions align="end"> 
    <button class="close-button" mat-flat-button [mat-dialog-close]="true" ><span><img src="../../../assets/images/Shape.png"></span></button>   
</mat-dialog-actions> 
<div class="clearfix"></div>
<mat-dialog-content class="mat-typography">
  <h3>Component Name</h3>
  <div class="valid">4in x 2-1/8 Deep square special box</div>

<form [formGroup]="FileChooseFrom" autocomplete="off" >
    <div class="create-assembly">  
        <div class="select-picklist">
            <div class="select-wrap fl">
                <label>System</label>
                <mat-form-field appearance="outline">
                    <mat-label >Input</mat-label>
                    <input formControlName="inputText" matInput>
                </mat-form-field>                
            </div>
            <div class="select-wrap fr">             
                <label for="singleFile">Upload file</label>
             
                <input id="singleFile" formControlName="fileupload" type="file" accept="image/*"
                (change)="handleFileInput($event)">             
            </div> 
        </div>
        <div class="clearfix"></div>
        <div class="edit-btn">
            <mat-dialog-actions align="end"> 
                <button mat-flat-button color="primary" (click)="onSubmit()">Upload</button>   
            </mat-dialog-actions>     
        </div>
    </div> 
</form>
</mat-dialog-content>
