<div class="confirm-dialog-wrapper">
  <div class="close-icon" (click)="close()">
    <span><img src="assets/images/Shape.png" /></span>
  </div>
  <div class="header">{{title}}</div>
  <div class="confirm-txt">{{content}}</div>
  <div class="btn-wrapper">
    <div class="primary-btn">
      <button mat-flat-button (click)="close(false)" color="primary">NO</button>
    </div>
    <div class="secondary-btn">
      <button mat-flat-button (click)="close(true)" color="primary">YES</button>
    </div>
  </div>
</div>
