<div class="page-wrap">
    <div class="assembly-config-cont">
        <div class="assembly-config-wrap">
            <div class="left-pane"><app-group (groupChanged)="ongroupChanged($event)"></app-group></div>
            <div class="right-pane"><app-assemblies [groupId]="groupValue" (isComponentLoader)="isComponentLoading($event)" (assemblyDetails)="getAssemblyDetails($event)"></app-assemblies></div>
        </div>    
    </div>
    <div class="page-right-pane">
        <div class="right-container">
          <app-custom-assembly [selectedComponent]="assemblyDetails" [showLoader]="isComponentLoader" [assemblyDetailsReadOnly]="true"></app-custom-assembly> 
        </div>
      </div>
</div>
