.page-wrap{
  display: flex;
}
.assembly-config-cont{
  padding: 0 8px 0 11px;
    
    width: 50%;
    .assembly-config-wrap{
      display: flex;
      border: 1px solid var(--border-color);
    }
    .right-pane{
        background-color: var(--bg-color-1);
        flex-grow: 100;
    }
}

::ng-deep .circle-check {
    & .mat-checkbox-background,
    .mat-checkbox-frame,
    & .mat-pseudo-checkbox {
      border-radius: 70% !important;
    }
  }
