.page-wrap{
  display: flex;
}
.assembly-config-cont{
  padding: 0 15px;
    
    width: 50%;
    .assembly-config-wrap{
      display: flex;
      border: 1px solid #4a4a4a;
    }
    .right-pane{
        background-color: #151515;
        flex-grow: 100;
    }
}

::ng-deep .circle-check {
    & .mat-checkbox-background,
    .mat-checkbox-frame,
    & .mat-pseudo-checkbox {
      border-radius: 70% !important;
    }
  }
