<div class="filter-modal-container">
    <div class="ac-loader" *ngIf="showLoader">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <div class="filter-modal">
        <div class="header">
            <div class="filter-icon">
                <mat-icon [inline]=true>filter_alt</mat-icon>
            </div>
            <div>Filter</div>
            
            <div class="close-icon" (click)="close()">
                <span class="material-icons-outlined">close</span>
            </div>
            
        </div>
        <div class="filter-body">
            <mat-tab-group [@.disabled]="true"  *ngIf="!showLoader">
                <ng-container *ngFor="let filter of filterValue.filters">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            {{filter.name}}  <span class="badge" *ngIf="getFilterBadgeCount(filter.name, filter.values) > 0">{{getFilterBadgeCount(filter.name, filter.values)}}</span>
                        </ng-template>
                        <div>
                            <mat-list>                       
                                <mat-list-item *ngFor="let value of filter.values" >
                                  <mat-checkbox
                                  [checked]="checkSelected(filter.name, value)"
                                  (change)="list_change($event,filter.name,value)" #linkRef
                                  >{{ value }}</mat-checkbox>
                                </mat-list-item>
                        
                              </mat-list>
                        </div>
                        
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </div>
        <div class="footer">
            <div class="reset-filter">
                <button mat-flat-button color="primary" (click)="reset()">RESET</button>
              </div>
              <div class="apply-filter">
                <button mat-flat-button color="primary" [disabled]="isReset ? false : selectedFilter?.filters?.length == 0" (click)="applyFilter()" >APPLY</button>
              </div>
        </div>
    </div>
</div>
