<div class="assbly-icon-title">
    <h2 mat-dialog-title class="w100">Assembly Icon</h2>
    <h3 class="w100">Choose one of the three methods</h3>
</div>    
<mat-dialog-actions align="end"> 
    <button class="close-button" mat-flat-button [mat-dialog-close]="true" ><span><img src="../../../assets/images/closeIcon.png"></span></button>   
</mat-dialog-actions> 
<div class="clearfix"></div>
<mat-dialog-content class="mat-typography">  
  <div class="valid"></div>
  <form autocomplete="off" >
    <div class="create-assembly">  
        <div class="select-picklist">
            <div class="select-wrap fl">                
                <mat-form-field class="select-group" appearance="outline">
                    <mat-radio-group aria-label="Select an option">
                        <div class="radio-btn">                            
                            <mat-radio-button value="1">Use DeviceId as Symbol</mat-radio-button>
                        </div>  
                        <div class="radio-btn">
                             <mat-radio-button value="2">Choose Existing</mat-radio-button>
                             <div class="clearfix"></div>
                             <mat-form-field class="select-group assem-grp exist-assem" appearance="outline" style="background-color: #282828;">
                                <mat-label class="matLable">Choose from existing Assembly</mat-label>
                                <mat-select formControlName="fil1">
                                    <mat-option value="option1">Option1</mat-option>
                                    <mat-option value="Option2">Option2</mat-option>
                                </mat-select>
                             </mat-form-field>
                             <div class="addbtn">
                                 <img src="../../../assets/images/addIcon.png">
                             </div>
                        </div>
                        <div class="radio-btn symbol-selector">
                            <mat-radio-button value="3">Create Custom Symbol</mat-radio-button>
                            <div class="clearfix"></div>
                            <div class="sym-txt">
                                <label>Symbol Text</label>
                                <mat-form-field appearance="outline">
                                    <mat-label>eg: AA or ED etc</mat-label>
                                    <input matInput>
                                    
                                </mat-form-field>
                            </div> 
                            <div class="sym-shape">
                                <label>Symbol Shape</label>
                                <mat-form-field class="select-group assem-grp  exist-assem" appearance="outline" style="background-color: #282828;">
                                    <mat-label class="matLable">Select Shape</mat-label>
                                    <mat-select>
                                        <mat-option value="option3">Option3</mat-option>
                                        <mat-option value="Option4">Option4</mat-option>
                                    </mat-select>
                                </mat-form-field>                                
                             </div>
                             <div class="addbtn1">
                                <img src="../../../assets/images/addIcon.png">
                            </div>
                       </div>   
                    </mat-radio-group>
                </mat-form-field>
            </div>          
        </div>
        <div class="clearfix"></div>
        <div class="edit-btn">
            <mat-dialog-actions align="end"> 
                <button mat-flat-button color="primary" class="addfinal" [mat-dialog-close]="true" >ADD</button>   
            </mat-dialog-actions>     
        </div>
    </div> 
</form>
</mat-dialog-content>
