<div class="list-components">
    <div class="ac-loader" *ngIf="showLoader"><mat-spinner [diameter]="40"></mat-spinner></div>
    <div class="filter-search">
        <div class="header">Assemblies</div>
        <div class="search-wrap">
            <div class="label">
                <mat-checkbox (change)="toggleHide($event)"> Hide default assemblies </mat-checkbox>
            </div>
            <div class="ac-input">
                <input type="text" [(ngModel)]="searchValue" (keyup)="filterAssembly($event)" placeholder="Search" />
                <div class="search-icon">
                    <mat-icon [inline]="true">search</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="assembly-lists">
        <mat-selection-list [multiple]="false" (selectionChange)="getAssemblyDetails($event)">
            <mat-list-option *ngFor="let assembly of assembliesData" [value]='assembly.id'>
                <div class="assembly-list-wrap">
                    <div class="img-cont">
                        <div class="assembly-image"></div>
                        <div class="assembly-icon">
                            <span *ngIf="assembly?.icon">
                                <img *ngIf="!assembly.icon.includes('base64')" src="data:image/jpeg;base64,{{assembly.icon}}" alt=" " />                            
                                <img *ngIf="assembly.icon.includes('base64')" src="{{assembly.icon}}" alt=" " />
                            </span>
                            
                            <div *ngIf="!assembly?.icon" class="default-icon">{{assembly.name | slice:0:1}}</div>
                        </div>
                    </div>                   
                    <div class="assembly-name">
                        {{assembly.name}}
                    </div>
                    <div class="action-btn">
                        <button mat-icon-button class="duplicate-icon" color="primary">
                            <mat-icon [inline]="true">queue</mat-icon>
                          </button>
                    </div>
                </div>
            </mat-list-option>
           </mat-selection-list>
    </div>
</div>