<div class="list-components">
    <div class="ac-loader" *ngIf="showLoader"><mat-spinner [diameter]="40"></mat-spinner></div>
    <div class="filter-search">
        <div class="header">Assemblies</div>
        <div class="search-wrap">
            <div class="label">
                <mat-checkbox (change)="toggleHide($event)"> Hide default assemblies </mat-checkbox>
            </div>
            <div class="ac-input">
                <input type="text" [(ngModel)]="searchValue" (keyup)="filterAssembly($event)" placeholder="Search" />
                <div class="search-icon">
                    <mat-icon [inline]="true">search</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="assembly-lists">
        <mat-selection-list [multiple]="false" (selectionChange)="getAssemblyDetails($event)" [(ngModel)]="selectedOptions">
            <mat-list-option *ngFor="let assembly of assembliesData" [value]='assembly.id'>
                <div class="assembly-list-wrap">
                    <div class="img-cont">
                        <div *ngIf="!assembly.imageLocation" class="assembly-image" [class.no-img]="!assembly.imageLocation"></div>
                        <div *ngIf="assembly.imageLocation" class="assembly-image">
                            <!-- <img *ngIf="!assembly.imageLocation.includes('base64')" src="data:image/jpeg;base64,{{assembly.imageLocation}}" alt=" " />                             -->
                            <img src="{{baseUrl}}{{assembly.imageLocation}}" alt=" " />
                        </div>
                        <div class="assembly-icon">
                            <span *ngIf="assembly?.iconLocation">
                                <!-- <img *ngIf="!assembly.icon.includes('base64')" src="data:image/jpeg;base64,{{assembly.icon}}" alt=" " />                             -->
                                <img src="{{baseUrl}}{{assembly.iconLocation}}" alt=" " />
                            </span>
                            
                            <div *ngIf="!assembly?.iconLocation" class="default-icon">{{assembly.name | slice:0:1}}</div>
                        </div>
                    </div>                   
                    <div class="assembly-name">
                        {{assembly.name}}
                    </div>
                    <div class="action-btn">
                        <button *ngIf="assembly.companyId" mat-icon-button class="delete-icon" (click)="deleteAssembly(assembly.id)" color="primary">
                            <span class="material-icons-outlined">delete_outline</span>
                          </button>
                        <button mat-icon-button class="duplicate-icon" (click)="duplicateAssembly(assembly.id)" color="primary">
                            <mat-icon [inline]="true">queue</mat-icon>
                          </button>
                    </div>
                </div>
            </mat-list-option>
           </mat-selection-list>
    </div>
</div>