.list-wrap {
  width: 180px;
  background-color: var(--bg-color-1);
  position: relative;
}


.search-category {
  padding: 10px;
  position: relative;
  color: #979797;
  height: 46px;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);

  input {
    width: 138px;
  }

  .search {
    position: absolute;
    right: 8px;
    top: 12px;
    font-size: 20px;
  }
}

.category-lists{
  height: calc( 100vh - 193px);
  overflow: hidden auto;
  background-color: var(--bg-color-3);

  &::-webkit-scrollbar {
    width: 10px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #232323;
  }
   
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--bg-color-2);
  }
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  border: 1px solid var(--border-color);
  color: var(--color-text-1);
  height: 44px;
  font-size: 12px;
  border-left: none;
}

.mat-list-base {
  padding: 0;
}

mat-list-option[aria-selected="true"],
mat-list-option:hover {
  background: var(--bg-color-1);
}

@media screen and (max-width: 1099px) {
  .list-wrap {
    width: 125px;
  }
}
@media screen and (max-width: 992px) {
  .list-wrap {
    width: 100px;
  }

}

