<div class="list-wrap">
  <div class="ac-loader" *ngIf="showLoader">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <div class="search-category ac-input">
    <input type="text" placeholder="Category" [(ngModel)]="searchValue" (ngModelChange)="filterCategory()" />
    <div class="search">
      <mat-icon inline="true">search</mat-icon>
    </div>
  </div>
  <div class="category-lists circle-check" (click)="categoryChange()">
    <mat-selection-list #selectedCategory>
      <mat-list-option checkboxPosition="before" *ngFor="let category of categoryList" [value]="category">
        {{ category.name }}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>