.create-assembly {
  padding: 10px 10px;
  display: flex;
  align-items: center;

  & > div {
    padding-right: 10px;
  }

  .assembly-field,
  .select-group {
    width: 250px;
  }

  .abbr-field {
    width: 100px;
  }

  .edit-btn {
    padding: 0;
    height: 30px;
    line-height: 30px;

    button {
      border-radius: 20px;
      padding: 0 25px;
      width: 110px;
      font-size: 13px;
      height: 30px;
      line-height: 30px;
    }
  }

  .secondary-btn{
    padding-left: 10px;
    button{
      border: 1px solid #ffc400 !important;
      color: #ffc400 !important;
      padding: 0 36px;
      font-size: 13px;
      line-height: 13px;
    }
  }

  .input-wrap {
    font-size: 12px;
    ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
      border: 0;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-empty.mat-form-field-label {
      margin-top: 0px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 12px 0px 8px 0px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
      margin-top: 7px;
    }
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label{
      margin-top: 7px !important;
    }
  }
  .select-wrap {
    font-size: 12px;
    ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
      border: 0;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
      margin-top: 7px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 12px 0px 8px 0px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-empty.mat-form-field-label {
      margin-top: 0px;
    }

    ::ng-deep .not-empty-select.mat-selected {
      color: #d8d8d8 !important;
    }
    
    ::ng-deep .mat-select-value-text {
      color: #d8d8d8 !important;
    }

    ::ng-deep .read-only .mat-select-value-text {
      color: #b8b8b8 !important;
    }

    .read-only {
      pointer-events: none;
    }
  }
  .mat-flat-button.mat-primary.mat-button-disabled {
    background-color: #ffc400;
    color: #000;
    opacity: 0.4;
  }
  .suggestion {
    font-size: 12px;
    .suggestion-value {
      display: inline-block;
      padding: 10px 5px;
    }
    .not-available {
      color: #a74618;
      pointer-events: none;
    }

    :not(.not-available) {
      cursor: pointer;
    }
  }
}
