.snackbar-container{
    display: flex;
    color: var(--color-text);
    align-items: center;
    .icon{
        span{
            display: block;
        }        
    }
    .message{
        padding: 0 10px;
        padding-right: 66px;
    }
    .btn{
        position: absolute;
        right: 10px;
        button{
            height: 25px;
            line-height: 25px;
        }
    }
}

.snackbar{
    &-error{
        .icon{
            color: #ff4e4e;
        }
    }
    &-success{
        .icon{
            color: #14dd6f;
        }
    }
}