.snackbar-container{
    display: flex;
    color: #d8d8d8;;
    .message{
        padding: 0 10px;
    }
}

.snackbar{
    &-error{
        .icon{
            color: #ff4e4e;
        }
    }
    &-success{
        .icon{
            color: #14dd6f;
        }
    }
}