.confirm-dialog-wrapper {
    position: relative;
    color: var(--color-text-1);
    .close-icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .confirm-txt{
        padding: 15px 0px;
        font-size: 12px;
    }
    .btn-wrapper {
      padding: 10px;
      display: flex;
      justify-content: flex-end;
    }
    .primary-btn, .secondary-btn{
      button{
        border-radius: 20px;
        height: 30px;
        line-height: 30px;
      }
    }
    .secondary-btn{
        padding-right: 10px;
      button{
          background: var(--bg-color-4) !important;
          border: 1px solid var(--primary-color) !important;
          color: var(--primary-color) !important;
          border-radius: 20px;
          height: 30px;
        }
    }

    .text{
      padding: 15px 0px;
    }
  }
  