.table {
  max-width: 600px;
  table {
    width: 100%;

    border: 2px solid #4a4a4a;
    border-bottom: 1px;
    border-left: 1px;
    table-layout: fixed;
    tr.mat-row,
    tr.mat-footer-row,
    tr.mat-header-row {
      height: 36px;
    }

    th,
    td {
      overflow: hidden;
      width: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .fab-icon {
      width: 20px;
      height: 20px;
      line-height: 14px;
      font-size: 14px;

      &::ng-deep .mat-button-wrapper {
        line-height: 14px;
        padding: 0;

        .mat-icon {
          font-size: 20px;
          padding-right: 6px;
          padding-top: 1px;
        }
      }
    }
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding: 0 10px;
    }
  }

  .tag-modal {
    position: absolute;
    width: 196px;
    height: 250px;
    background: #000;
    .tag-field {
      border-bottom: 1px solid #4a4a4a;
      display: flex;
      align-items: center;
      .clear-icon {
        font-size: 20px;
        padding-right: 10px;
        cursor: pointer;
      }
      input {
        width: 100%;
        height: 30px;
        padding-left: 15px;
      }
    }
    .tag-list-wrap {
      padding: 15px;
      font-size: 12px;
      .btn-wrap {
        position: absolute;
        bottom: 5px;
        right: 7px;
        button {
          border-radius: 30px;
          height: 30px;
        }
      }
    }
  }
}

.mat-column {
  &-image,
  &-component,
  &-tag,
  &-phase,
  &-udm,
  &-add {
    border-right: 1px solid #4a4a4a;
    padding: 0 12px;
    text-align: justify;
    font-size: 12px;
    color: #787878;
  }
  &-udm {
    width: 50px !important;
  }
  &-tag,
  &-phase,
  &-image {
    width: 65px !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-component {
    width: 200px !important;
  }
  &-add {
    width: 50px !important;
    text-align: center;
  }
}

.mat-table {
  background-color: #2b2b2b;
}

.mat-header-cell {
  background: #151515;
}

.list-components {
  min-width: 600px;
  .req-component {
    padding: 7px 10px;
    background-color: #151515;
    border: 2px solid #4a4a4a;
    border-top: none;
    color: #bbb7b4;
    font-size: 13px;
    border-left: none;
  }
}

.filter-search {
  display: flex;
  justify-content: flex-end;

  .label {
    padding: 11.5px;
    color: #ffc400;
    display: flex;
    .filter-icon {
      font-size: 20px;
    }
  }

  input {
    border: 1px solid #4a4a4a;
    min-height: 30px;
    padding-left: 5px;
    width: 280px;
    padding-right: 30px;
    font-size: 14px;
  }

  .ac-input {
    position: relative;
    margin: 5px 23px 5px 0;

    .search-icon {
      font-size: 20px;
      position: absolute;
      top: 6px;
      right: 3px;
      color: #979797;
    }
  }
}

.phase-input input{
  color: #787878;
  font-size: 12px;
}
