app-category-components {
    background-color: #151515;
}

.table {
    height: calc( 100vh - 193px);
    overflow: hidden auto;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #232323;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #4f4f4f;
    }
    table {
        width: 100%;
        border: 2px solid #4a4a4a;
        border-right: none;
        border-bottom: 1px;
        border-left: 1px;
        table-layout: fixed;
        tr.mat-row,
        tr.mat-footer-row,
        tr.mat-header-row {
            height: 36px;
        }
        th,
        td {
            overflow: hidden;
            width: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .fab-icon {
            width: 20px;
            height: 20px;
            line-height: 14px;
            font-size: 15px;
            &::ng-deep .mat-button-wrapper {
                line-height: 14px;
                padding: 0;
                .mat-icon {
                    padding-right: 1px;
                }
            }
        }
        th.mat-header-cell:last-of-type,
        td.mat-cell:last-of-type,
        td.mat-footer-cell:last-of-type {
            padding: 0 10px;
        }
        th.mat-header-cell:first-of-type,
        td.mat-cell:first-of-type,
        td.mat-footer-cell:first-of-type {
            padding-left: 10px;
        }
    }
    .tag-modal {
        position: fixed;
        width: 196px;
        height: 250px;
        background: #000;
        .tag-field {
            border-bottom: 1px solid #4a4a4a;
            display: flex;
            align-items: center;
            .clear-icon {
                font-size: 20px;
                padding-right: 10px;
                cursor: pointer;
            }
            input {
                width: 100%;
                height: 30px;
                padding-left: 15px;
            }
        }
        .tag-list-wrap {
            padding: 15px;
            font-size: 12px;
            .btn-wrap {
                position: absolute;
                bottom: 10px;
                right: 7px;
                button {
                    border-radius: 30px;
                    height: 30px;
                    line-height: 32px;
                }
            }
        }
    }
}

.mat-column {
    &-image,
    &-component,
    &-tag,
    &-phase,
    &-uom,
    &-add {
        border-right: 1px solid #4a4a4a;
        padding: 0 8px;
        text-align: justify;
        font-size: 12px;
        color: #787878;
    }
    &-uom {
        width: 50px !important;
    }
    &-add {
        border-right: 0;
    }
    &-component {
        width: 200px !important;
    }
    &-add {
        width: 50px !important;
        text-align: center;
    }
    &-phase,
    &-tag {
        padding-left: 5px;
        background-color: #4a4a4a;
        border: 1px solid #2b2b2b;
        span,
         ::placeholder {
            color: #b5b5b5;
        }
    }
}

.mat-table {
    background-color: #2b2b2b;
}

.mat-header-cell {
    background: #151515;
}

.list-components {
    position: relative;
    .req-component {
        padding: 7px 10px;
        background-color: #151515;
        border: 2px solid #4a4a4a;
        border-right: none;
        border-top: none;
        color: #bbb7b4;
        font-size: 13px;
        border-left: none;
        text-align: right;
    }
}

.filter-search {
    display: flex;
    justify-content: flex-end;
    .label {
        padding: 11.5px;
        color: #ffc400;
        display: flex;
        cursor: pointer;
        .filter-icon {
            font-size: 20px;
        }
    }
    .label.disable{
        color: #787878;
    }
    .clear-filter-icon {
        color: #ffc400;
        padding: 11.5px;
        display: flex;
        cursor: pointer;
        .close-icon{
            font-size: 20px;
        }
    }
    input {
        border: 1px solid #4a4a4a;
        min-height: 30px;
        padding-left: 5px;
        width: 280px;
        padding-right: 30px;
        font-size: 14px;
    }
    .ac-input {
        position: relative;
        margin: 5px 23px 5px 0;
        .search-icon {
            font-size: 20px;
            position: absolute;
            top: 6px;
            right: 3px;
            color: #979797;
        }
    }
}

.phase-input {
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    input {
        width: 100%;
        color: #b5b5b5;
        font-size: 12px;
        padding: 0;
    }
}

.symbol {
    img {
        width: 100%;
    }
}

.backdropBackground {
    /* your css needs */
    background-color: #000!important;
}

@media screen and (max-width: 1145px) {
    .mat-column {
        &-component {
            width: 100px !important;
        }
    }
    .filter-search {
        input {
            width: 220px;
        }
    }
}

@media screen and (max-width: 992px) {
    .mat-column {
        &-component {
            width: auto !important;
        }
    }
    .filter-search {
        input {
            width: 100px;
        }
    }
}
@media screen and (min-width: 990px) and (max-width: 1300px) {
    .clear-label{
        display: none;
    }
}
@media screen and (max-width: 1300px) {
    .filter-search {
        input {
            width: 250px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .filter-search {
        input {
            width: 220px;
        }
    }
}
.disableBtn {
    background: #4a4a4a;
}