// dark colors
$dark-bg-color: #000000;
$dark-font-color: #d8d8d8;
$dark-header-color: #000000;
$dark-header-bg-logo: #212121;
$dark-bg-color-1: #151515;
$dark-bg-color-2: #4f4f4f;
$dark-bg-color-3: #242424;
$dark-bg-color-4: #1f1f1f;
$dark-border-color: #4A4A4A;
$dark-font-color-1: #b5b5b5;
$dark-font-color-2: #787878;
$dark-font-color-3: #d8d8d8;
$dark-font-color-4: #ffffff;
$dark-font-color-5: #bbb7b4;
$dark-primary-color: #ffc400;
$dark-bg-color-5: #2a2a2a;
$dark-bg-color-6: #818181;
$dark-bg-color-7: #262626;
$dark-bg-color-8: #282828;
$dark-bg-color-9: #3e3e3e;
$dark-border-color-1: #454545;
$dark-header-icon-color: #d8d8d8;
$dark-table-bg: #2b2b2b;
$dark-table-bg-1: #4A4A4A;
$dark-footer-color: #0f0f0f;
$dark-popup-color: #323232;
$dark-popup-color-1: #303030;
$dark-popup-color-2: #212121;
$dark-popup-color-3: #373737;
$dark-popup-color-4: #222122;
$dark-popup-color-5: #585657;
$dark-popup-color-6: #6D6D6D;
$dark-popup-color-7: #424242;
$dark-popup-color-8: #444444;
$dark-btn-bg-1: #42433b;


// light colors
$light-bg-color: #EBF6FF;
$light-font-color: #000000;
$light-header-color: #295678;
$light-header-bg-logo: transparent;
$light-bg-color-1: #EBF6FF;
$light-bg-color-2: #D9EFFF;
$light-bg-color-3: #D9EFFF;
$light-bg-color-4: #EBF6FF;
$light-bg-color-5: #D9EFFF;
$light-border-color: #B5B5B5;
$light-font-color-1: #4a4a4a;
$light-font-color-2: #878787;
$light-font-color-3: #FFFFFF;
$light-font-color-4: #000000;
$light-font-color-5: #44484b;
$light-primary-color: #295779;
$light-bg-color-6: #bdbebf;
$light-bg-color-7: #D9EFFF;
$light-bg-color-8: #D9EFFF;
$light-bg-color-9:#EBF6FF;
$light-border-color-1: #bababa;
$light-header-icon-color: #A7A7A7;
$light-table-bg: #D9EFFF;
$light-table-bg-1: #ebf6ff;
$light-footer-color: #295678;
$light-popup-color: #ebf6ff;
$light-popup-color-1: #FFFFFF;
$light-popup-color-2: #D9EFFF;
$light-popup-color-3: #ebf6ff;
$light-popup-color-4: #FFFFFF;
$light-popup-color-5: #ffffff;
$light-popup-color-6: #FFFFFF;
$light-btn-bg-1: #bdbcc4;