.popUp {
    width: 450px;
    height: 480px;

}

.close-button{
    cursor: pointer;
   transform:translate(10%, -8%);

}
.reqComponent{
    height:380px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        margin-left: 10px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #232323;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--bg-color-2);
      }
}
.submit{
    border-radius: 25px;
}
.images{
    margin-top: 25px;
    width: 425px;
    // padding: 10px;
    padding-bottom: 26px;
    padding-left: 13px;
    background: var(--popup-bg);
    padding-top: 22px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .request-new-component .mat-form-field-appearance-outline .mat-form-field-infix {
    background: var(--bg-color-8) !important;
    padding: 5px 10px;
    width: 300px;
    height: 44px;
}

::ng-deep .request-new-component .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(1%);
}

::ng-deep .request-new-component .mat-form-field-appearance-outline .mat-form-field-label {
    margin-left: 22px;
    margin-top: -15px;
}

input, textarea {
    padding: 8px;
    background: var(--bg-color-8);
    border: none;
    color: var(--color-text-4);
    margin-left: 45px;
}

input:focus, textarea:focus {
    outline: none;
}

label{
    white-space: normal;
}
.otherName {
    margin-bottom: 22px;
    input {
        margin-left: 27px;
    }
}

.otherGrpName{
    background: var(--bg-color-8);
}

.disableColor{
    color: --var(--color-text-4);

}

.compName {
    margin-left: 48px;
}

.attribute {
    margin-top: 25px;
    background: var(--popup-bg);
    padding: 10px;
    display: flex;
    width:425px;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}

.attrName {
    margin-bottom: 12px;
    margin-left: 12px !important;
}

.attributeName{
    padding-top: 12px;
}

.attrVal {
    margin-left: 15px !important;
    margin-bottom: 12px;
}
.preferred{
    background: var(--popup-bg);
        padding-top: 16px;
        padding-bottom: 6px;
        padding-left: 11px;
        padding-right: 11px;
        width: 425px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.preferedValue{
    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
    // justify-content: space-between;
}
.preferrVal{
    margin-left: 15px !important;
    margin-bottom: 12px;
}

.request-new-component .fab-icon {
    width: 30px;
    height: 30px;
    line-height: 14px;
    font-size: 15px;
    cursor: pointer;
    &::ng-deep .mat-button-wrapper {
        font-size: 22px;
        line-height: 22px;
        padding: 0;
        width: 22px;
        height: 23px;
        .mat-icon {
            padding-right: 1px;
        }
    }
}

.pref-icon-add{
    margin-left: 6px;
}

.pref-icon-del{
    margin-left: 1px;
}
.inpFile{
  display: none;
}
.addIcon{
    width: 32px;
    height: 32px;
    vertical-align: bottom;
    font-size: 19px;
    background: var(--primary-color);
    color: var(--color-text);
    font-weight: 500;
    border-radius: 25px;
}

.imgAdd{
    transform: translate(301px,5px);
}
.inputImg{
    width: 26px;
    height: 26px;
    border: none;
    padding: 0 !important;
    background: transparent !important;
    margin-left: 0 !important;
    transform: translateY(10px);
    color: transparent !important;
}
.remarks{
    margin-top: 25px;
    // background: #323232;
    // padding: 30px;
    width: 425px;
}
.inpRemarks{
    width: 425px;
    border: none;
    width: 100%;
    padding: 18px !important;
    margin-left: 0 !important;
    color: var(--color-text-4) !important;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-btn{
    transform: translateX(-15px);
    border-radius: 25px;
    padding: 2px 28px;
    font-size: 14px;
    height: 30px;
    line-height: 27px;
}

.request-new-component{
    position: relative;
    .title{
        font-size: 16px;
        padding-bottom: 15px;
    }
}

::ng-deep .request-new-component .groupName{
    .mat-form-field{
        width: 435px;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex{
    padding-left: 0;
    }
}

.flex-cont{
    display: flex;
}

.img-delete-icon{
    transform: translate(254px, 2px);
}

.add-icon-move{
    transform: translate(279px,5px);
}

.field-split + .field-split{
    border-top: 2px solid var(--popup-bg-7);
}

.preferredFields{
    padding-top: 10px;
}

.preferedValue{
    input{
        width: 150px;
    }
}