<div class="popUp request-new-component">
  <div class="ac-loader" *ngIf="showLoader">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <div class="title">
    <span>Request New Component</span>
    <div class="close-button" (click)="close()">
      <span><img src="assets/images/Shape.png" /></span>
    </div>
  </div>
  <div class="validForm">
    <form [formGroup]="requestNewComponent" autocomplete="off">
      <div class="reqComponent">
        <div class="groupName">
          <mat-form-field class="select-group" appearance="outline">
            <mat-label class="matLable">Select Category</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option *ngFor="let group of groups" [value]="group">{{group.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="otherName">
          <label [class.disableColor]="disableField">Other Category Name</label>
          <input type="text" formControlName="otherCategoryName" class="otherGrp" [class.otherGrpName]="disableField">
        </div>
        <div class="componentName">
          <label>Component Name</label>
          <input type="text" formControlName="componentName" class="compName">
        </div>
        <div class="attribute">
          <div class="attributeFields" *ngFor="let attr of attributeFormGroups">
            <div class="attributeName" [formGroup]="attr">
              <label>Attribute Name</label>
              <input type="text" formControlName="name" class="attrName">
            </div>
            <div class="attributeValue" [formGroup]="attr">
              <label>Attribute Value</label>
              <input type="text" formControlName="value" class="attrVal">
            </div>
          </div>
          <div class="addButton"> <button class="fab-icon" mat-mini-fab color="primary" (click)="addAttributes()">
              <mat-icon [inline]="true">add</mat-icon>
            </button>

          </div>
          <div class="delButton">
            <button  mat-icon-button class="delete-icon" (click)="deleteAttrVal()" color="primary">
              <span class="material-icons-outlined">delete_outline</span>
            </button>
          </div>
        </div>

        <div class="preferred">
          <div class="preferredFields" *ngFor="let prefVal of preferredManufacturerGroup">
            <div class="preferedValue" [formGroup]="prefVal">
              <label>Preferred Manufacturer</label>
              <input type="text" formControlName="preferredName" class="preferrVal">

            </div>
          </div>
          <button class="fab-icon pref-icon-add" mat-mini-fab color="primary" (click)="addPreferredManuf()">
            <mat-icon [inline]="true">add</mat-icon>
          </button>
          <button  mat-icon-button class="fab-icon pref-icon-del" (click)="deleteprefVal()" color="primary">
            <span class="material-icons-outlined">delete_outline</span>
          </button>
        </div>
        <div class="images">
          <label class="uploadImg">Add Image
            <input type="file" class="inpFile" (change)="uploadedFile($event)">

            <mat-icon [inline]="true" class="addIcon imgAdd">add</mat-icon>
          </label>
          <button  mat-icon-button class="fab-icon" (click)="deleteImg()" color="primary">
            <span class="material-icons-outlined">delete_outline</span>
          </button>
          <span *ngIf="imgValue">
            <input type="image" src="{{imgValue}}" alt="" formControlName="images" class="inputImg">
          </span>
        </div>
        <div class="remarks">
          <textarea  formControlName="remarks" class="inpRemarks" placeholder="Remarks"></textarea>
        </div>
      </div>
      <div class="edit-btn">
        <mat-dialog-actions align="end">
          <div class="footer-btn-wrap">
            <button mat-flat-button color="primary" [disabled]="!requestNewComponent.valid" class="submit-btn" (click)="onSubmit()">Submit</button>
          </div>
        </mat-dialog-actions>
      </div>
    </form>
  </div>

</div>