<div class="contact-us-wrap">    
    <div class="layer1">
        <div class="close-icon" (click)="close()"><img src="assets/images/closebtn.png"></div>
        <div class="contact-us-text">
            <div class="title">Contact Us</div>
            <div class="label">Get in touch and let us know how we can help</div>
        </div>        
    </div>
    <div class="layer2">
        <div class="mail">
            <span class="material-icons">mail_outline</span>
            <div class="text">support@aecinspire.com</div>
        </div>
        <div class="location">
            <span class="material-icons">location_on</span>
            <div class="text">39899 Balentine Drive, Ste.265</div>
            <div>Newark, CA 94560</div>
        </div>
        <div class="phone">
            <span class="material-icons">call</span>
            <div class="text">+1 510-770--1900</div>
        </div>        
    </div>

</div>
